* {
    font-family: sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding 0;
}

.person-div {
    text-align: center;
    display: flex;
}

.email {
color: gray;
margin-bottom: 8px;
}

.info {
    margin-bottom: 8px;
}